*{
  padding: 0;
  margin: 0;
  transition: all .2s ease-in-out;
}

#app {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  font-weight: normal;
}

a{
  color: #ffe83d;
}

a:hover{
  color: #333;
}


